html, body {
    margin: 0;
    height: 100%;
}

body{
    background-color: #ECF2F8;
    overflow-x: hidden;
}

* {
    font-family: "Barlow Semi Condensed", sans-serif;
}

main{
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 279px 252px;
    row-gap: 22px;
    column-gap: 26px;
    translate: -211px 320px;
    overflow-y: hidden;
    height: 530px;
}

.message{
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 17.5px;
}

.message01{
   grid-column: 1 / span 2;
   grid-row: 1 / 1;
   background-color: #733FC8;
}

.message02{
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    background-color: #48556A;
}

.message03{
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
    background-color: #ffffff;
    gap: 19px;
}

.message04{
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    background-color: #ffffff;
}

.message05{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: #19202D;
}

#aspas{
    z-index: 1;
    position: absolute;
    translate: 126px -89px;
}

.box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    margin: 0;
}

.box02, .box04{
    right: 20px;
}

.box03{
    right: 30px;
    top: 1px;
}

.box01, .box05{
    right: 145px;
}

.perfil01,.perfil02{
    margin: 0;
    width: 52%;
    font-size: 12.06px;
    font-weight: 500;
}

.perfil01{
    color: white;
}

.perfil02{
    color:#48556A;
}

span{
    opacity: 55%;
    font-size: 10.1px;
    letter-spacing: 0.2px;
}

.lighter{
    font-weight: lighter;
}

.title{
    font-weight: 600;
    font-size: 18.5px;
    z-index: 5;
    margin: 0;
}

.text{,
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    line-height: 1.45;
    z-index: 5;
    position: relative;
}

.title01, .title02, .title05, .text01, .text05 {
    width: 85%;
}

.title02, .title03, .title04, .text02, .text04{
    width: 73%;
}

.title03, .title04, .text03, .text04 {
    color: #48556A;
}

.text01, .text02, .text05{
    color: #CFCFCF;
}

.title01, .title02{
    color: white;
}

.title05{
    color: #ECF2F8;
}

.text03, .text04{
    opacity: 70%;
}

.text03{
    margin-top: 4px;
    line-height: 1.507;
    width: 75%;
}

@media(max-width: 600px) {

    main {
        display: flex;
        flex-flow: column wrap;
        gap: 23px;
        align-items: center;
        justify-content: space-evenly;
        translate: 0 50px;
        height: auto;
        margin: 20px;
    }

    .message {
        width: 310px;
        gap: 10px;
    }

    .message01 {
        height: 427px;
    }

    .message01 {
        order: 1;
    }

    .message02 {
        order: 2;
        height: 230px;
    }

    .message03 {
        height: 440px;
        order: 5;
        margin-bottom: 60px;
    }

    .message04 {
        order: 3;
        height: 210px;
    }

    .message05 {
        order: 4;
        height: 375px;
    }

    .title {
        font-weight: 500;
        width: 250px;
    }

    .title01 {
        translate: 0 -5px;
    }

    .title03, .title04 {
        font-weight: 600;
    }

    .title05 {
        width: 230px;
        translate: -5px -5px;
    }

    .text {
        font-size: 12.1px;
        opacity: 90%;
        translate: -10px 5px;
    }

    .text01 {
        width: 225px;
        margin-top: 20px;
        opacity: 70%;
    }

    .text02 {
        width: 250px;
        margin-left: 20px;
    }

    .text03 {
        width: 240px;
        translate: -4px 0;
    }

    .text05 {
        width: 235px;
        translate: -4px 0;
    }

    .box {
        position: unset !important;
        right: 0 !important;
        translate: -60px -10px;
    }

    .box03 {
        translate: -61.5px -10px;
    }

    .box02, .box04 {
        width: 55%;
    }

    .box05 {
        translate: -50px -10px;
    }

    #aspas {
        width: 27.5%;
        translate: 76px -165px;
        z-index: 0;
    }
}

@media (min-width: 1620px){
   main{
       translate: 0 35em;
   }

   .text{
       font-size: 12.4px;
   }
}